<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/tabs/tab2">
          <ion-icon name="mic-circle-outline"></ion-icon> &nbsp; Voice
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon> &nbsp; Logout
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab3">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="mic-circle-outline"></ion-icon>
      <ion-label>Voice</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
