<div id="container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let p of productsInCart; index as i">
          <ion-card-header>
            <ion-card-title class="ion-text-left">
              {{ p.name }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="end" style="width:120px; height: auto;">
                <ion-img [src]="p.images[0].src" style="width:120px; height: auto;"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="price">
                <ion-text class="price-inner">
                  <h3>{{ p.price | currency:'EUR'}}</h3>&nbsp;&nbsp;
                </ion-text>
              </ion-label>
              <ion-label class="d-flex align-items-center border border-light-updated">
                <ion-text>Qty: </ion-text><ion-select slot="end" value="{{ p.in_cart }}" (ionChange)="updateQuantity(p, $event, i)">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
              </ion-select>
              </ion-label>
            </ion-item>
            <ion-item-divider></ion-item-divider>
            <ion-button (click)="removeItemFromCart(p)" color="tertiary">Remove</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
