<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="ion-padding" pager>
    <ion-slide *ngFor="let i of product?.images">
      <ion-img [src]="i?.src" alt="{{ product?.name }}"></ion-img>
    </ion-slide>
  </ion-slides>

 <ion-item-divider></ion-item-divider>

 <ion-grid class="ion-no-padding">
   <ion-row class="ion-no-padding">
     <ion-col class="ion-no-padding">
       <ion-card>
         <ion-card-header>
           <ion-card-title>
             <h2 style="text-align: center;">{{ product?.name }}</h2>
           </ion-card-title>
           <ion-card-subtitle>
             <ion-chip *ngFor="let c of product?.categories" color="tertiary" >
               <ion-avatar>
                 <img src="assets/icon/shopping-cart.png">
               </ion-avatar>
               <ion-label> {{ c?.name}}</ion-label>
               <!-- <ion-icon name="bag-outline"></ion-icon> -->
             </ion-chip>
           </ion-card-subtitle>
         </ion-card-header>
         <ion-card-content>
           <ion-label>
             <ion-card-content>
               {{ product?.description }}
             </ion-card-content>
             <ion-text>
               <ion-chip outline color="tertiary">
                 <ion-icon name="pricetag-outline"></ion-icon>
                 <ion-label>{{ product?.price | currency:"EUR" }}</ion-label>
               </ion-chip>
             </ion-text>
           </ion-label>
         </ion-card-content>
       </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0 10px;">
    <ion-label>
      <ion-button color="tertiary " expand="full" fill="solid" (click)="addProduct(product)">
        Add To Cart
      </ion-button>
    </ion-label>
  </ion-toolbar>
</ion-footer>