<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Alan Ai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/icon/coming-soon.png">
    <ion-card-content>
                                  Under construction
    </ion-card-content>
    <!-- <ion-button (click)="navigate()">Press</ion-button> -->
  </ion-card>

</ion-content>
