<!--HEADER SECTION-->

<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
            My Cart ({{ cart.count || 0 }})
        </ion-title>
      </ion-toolbar>
    
</ion-header>
<!--END OF HEADER SECTION-->

<!--CONTENT SECTION-->
<ion-content [fullscreen]="true">
    <ng-container *ngIf="cart.productData.length > 0; else showOther">
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">Tab 3</ion-title>
            </ion-toolbar>
        </ion-header>
        <app-cart-view [prod]="cart.productData"></app-cart-view>
    </ng-container>

    <ng-template #showOther>
        <ion-img src="/assets/images/empty-cart.png"></ion-img>
        <div class="shop-button">
            <ion-button class="ion-text-center" routerLink="/tabs/tab1" size="large">Go To Shop</ion-button>
        </div>
    </ng-template>


</ion-content>
<!--END OF CONTENT SECTION-->

    <ion-footer>
        <ion-toolbar *ngIf="cart.productData.length > 0">
            <ion-label slot="start">
                <ion-text class="totalPrice">{{ total |currency:"EUR" }}
                    <ion-note>({{ cart.count }} items)</ion-note>
                </ion-text>
            </ion-label>
            <ion-buttons slot="end">
                <ion-button
                        class="ion-activatable ripple-parent"
                        color="warning"
                        expand="full"
                        fill="solid"
                        size="large"
                        routerLink="/checkout"
                >
                    Go To Checkout
                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>




