<ion-app>
    <ion-router-outlet></ion-router-outlet>
    <alan-button id="alanBtnEl"
              #alanBtnEl
              alan-key="14e32c9db03a42bf88398d6ada5f28d32e956eca572e1d8b807a3e2338fdd0dc/prod"></alan-button>
</ion-app>
